@page "/catalogs"

@using WebAPP.ViewModels

@inject IBlazorStrap BlazorStrap
@inject CatalogsViewModel ViewModel

<NavBar/>
<SearchBar/>
<BSToaster/>

@if (ViewModel.Catalogs == null)
{
    <div style="display:flex; gap:10px; justify-content:center; align-items:center">
        <div class="spinner-border" role="status"></div>
    </div>

    return;
}

<BSOffCanvas @ref="_offCanvas" Placement="Placement.Right">
    <Header>Create Catalog</Header>
    <Content >
        <div class="d-grid gap-2">
            <BSLabel>Title</BSLabel>
            <BSInput InputType="InputType.Text" placeholder="Title" @bind-Value="ViewModel.Title" IsDisabled="_creating"/>
            <BSLabel>Description</BSLabel>
            <BSInput InputType="InputType.TextArea" placeholder="Description" @bind-Value="ViewModel.Description" IsDisabled="_creating"/>
            <BSButton MarginTop="Margins.Large" Color="BSColor.Dark" OnClick="CreateAsync" IsDisabled="_creating">
                @if (_creating)
                {
                    <BSSpinner Size="Size.Small" Color="BSColor.Light"/>
                }
                else
                {
                    <p style="margin: auto">Create</p>
                }
            </BSButton>
        </div>
    </Content>
</BSOffCanvas>

<BSContainer>
    <BSRow Align="Align.Center" Justify="Justify.Around">
        <BSCol Margin="Margins.Large">
            <h5 class="m-0">Catalogs</h5>
        </BSCol>
        <BSCol Column="1">
            <BSButton Class="bi bi-plus-lg" Color="BSColor.Light" style="font-size: 2.000rem;" OnClick="_offCanvas.ShowAsync"/>
        </BSCol>
    </BSRow>
    @if (ViewModel.Catalogs.Any() is false)
    {
        <p>
            No Catalog, try to add one :)
        </p>
    }
    else
    {
        <div class="row row-cols-md-4">
            @foreach (var catalog in ViewModel.Catalogs)
            {
                <BSCol MarginTopAndBottom="Margins.ExtraSmall" Padding="Padding.None">
                    <BSCard CardType="CardType.Card" Padding="Padding.None">
                        <BSCard CardType="CardType.Header">
                            @if (catalog.IsEditingTitle)
                            {
                                <BSInput InputType="InputType.Text" @bind-Value="@catalog.Title"/>
                                <BSButton Class="bi bi-pencil-square" Color="BSColor.Warning" OnClick=@(async () => {catalog.ToggleTitle(); await ViewModel.ChangeTitleAsync(catalog.Id); })></BSButton>
                            }
                            else
                            {
                                @catalog.Title
                                <BSButton Class="bi bi-pencil-square" Color="BSColor.Warning" OnClick=@(() => catalog.ToggleTitle())></BSButton>
                            }

                        </BSCard>
                        <BSCard CardType="CardType.Image" src="https://img.webnots.com/2017/04/Bootstrap-Card-Image.png"></BSCard>
                        <BSCard CardType="CardType.Body">
                            <BSCard CardType="CardType.Title">@catalog.Title</BSCard>
                            <BSCard CardType="CardType.Subtitle">
                                @if (catalog.IsEditingDescription)
                                {
                                    <BSInput InputType="InputType.Text" @bind-Value="@catalog.Description"/>
                                    <BSButton Class="bi bi-pencil-square" Color="BSColor.Warning" OnClick=@(async () => {catalog.ToggleDescription(); await ViewModel.ChangeDescriptionAsync(catalog.Id); })></BSButton>
                                }
                                else
                                {
                                    @catalog.Description
                                    <BSButton Class="bi bi-pencil-square" Color="BSColor.Warning" OnClick=@(() => catalog.ToggleDescription())></BSButton>
                                }
                            </BSCard>
                            <BSButton Class="bi bi-trash3" Color="BSColor.Danger" OnClick=@(() => ViewModel.DeleteAsync(catalog.Id))></BSButton>
                        </BSCard>
                        <BSCard CardType="CardType.Footer">Last updated 3 mins ago</BSCard>
                    </BSCard>
                </BSCol>
            }
        </div>
        <BSPagination Align="Align.Center">
            <BSPaginationItem IsDisabled=@(ViewModel.PageInfo.HasPrevious is false) @onclick="MoveToPreview">Previous</BSPaginationItem>
            @for (var paging = 1; paging <= ViewModel.PageInfo.Current; paging++)
            {
                var current = paging;
                <BSPaginationItem @onclick="() => MoveToPage(current)">@current</BSPaginationItem>
            }
            <BSPaginationItem IsDisabled=@(ViewModel.PageInfo.HasNext is false) @onclick="MoveToNext">Next</BSPaginationItem>
        </BSPagination>
    }
</BSContainer >

@code {

    private BSOffCanvas _offCanvas;

    private bool _creating;

    protected override Task OnInitializedAsync()
        => ViewModel.FetchDataAsync();

    private async Task CreateAsync()
    {
        try
        {
            _creating = true;
            await ViewModel.CreateAsync();
            await _offCanvas.HideAsync();
            _creating = false;
        }
        catch (Exception e)
        {
            _creating = false;
            Failed(e.Message);
        }
    }


    private void Failed(string error = default)
    {
        BlazorStrap.Toaster.Add("Error", error ?? "It was not possible to create a new Catalog", o =>
        {
            o.Color = BSColor.Danger;
            o.CloseAfter = 2000;
            o.Toast = Toast.BottomRight;
        });
    }

    private Task MoveToPage(int current)
        => ViewModel.FetchDataAsync(offset: current - 1);

    private async Task MoveToNext()
    {
        if (ViewModel.PageInfo.HasNext)
            await ViewModel.FetchDataAsync(offset: ViewModel.PageInfo.Current);
    }

    private async Task MoveToPreview()
    {
        if (ViewModel.PageInfo.HasPrevious)
            await ViewModel.FetchDataAsync(offset: ViewModel.PageInfo.Current - 2);
    }
}